[Unit]
Description=Filegator autotorrent transmission service
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/file_admin/torrent_conf
ExecStart=/etc/file_admin/create_torrent
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

