#
torrent_file_folder="/var/www/filegator/torrents/"

torrent_map_folder="/var/www/filegator/torrents_map_folder/"

torrent_repository="/var/www/filegator/repository/"

max_days_transmission="2"

max_days_on_computer="3"

wait_time="1"

error_log_file="/var/log/file_admin/error.log"

torrent_log_file="/var/log/file_admin/torrent.log"


